<nav class="site-nav">
  <div class="logo">
    Chris Stein's cool Site
  </div>
  <div class="links">
    <a href="/">Home</a>
    <a href="/sample">Sample</a>
    <a href="/about">About</a>
    <a href="/chris">Chris</a>
    <a href="/projects">Projects</a>
  </div>
</nav>
